@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
}

.collections-main {
    text-align: center;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #b3c8cf;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    outline: none;
}

.create-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.plus-icon {
    font-size: 1.5rem;
    font-weight: bold;
}

.create-btn {
    margin-top: 10px;
    background-color: #3a77f7;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-btn:hover {
    background-color: #2352b7;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: left;
    border-radius: 5px; /* Added border radius */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Added box shadow */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Removed hover effect */
}

.close:focus {
    color: black;
    text-decoration: none;
}

.search-input,
.collection-input {
    width: 400px; /* Adjusted width for consistency */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-bottom: 20px; /* Adjusted margin */
    font-size: 16px; /* Adjusted font size */
    color: #333; /* Adjusted text color */
}

.error-message {
    color: red; /* Adjusted color for error message */
}


h2{
    position: relative;
    font-size: 5rem;
    margin-bottom: 20px;
    color: #99aab0;
    z-index: 1; /* Ensure the text is above the background image */
}