@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #E8ECEF;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #c9d4d4;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 100px;
    margin-right: 1rem;
}

nav input {
    padding: 0.5rem;
    width: 400px;
    color: gray;
    border: 1px solid gray;
}

nav button {
    padding: 0.5rem 1rem;
    background-color: #92C7CF;
    border: none;
    color: #fafafa;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #7aa6a8;
}

.main {
    text-align: center;
    padding: 2rem;
}

.main h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #99aab0;
}

.main p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #88b1b8;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.6); /* Set a semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 200px;
    height:100px;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    transition: transform 0.2s;
    backdrop-filter: blur(10px); /* Add a blur effect */
}

.card:hover {
    transform: translateY(-5px);
    backdrop-filter: none; /* Remove the blur effect on hover */
}

.card-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center; /* Center the text horizontally */
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
