@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Reenie+Beanie&display=swap');

body {
    background-color: #E8ECEF; /* Set background color */
}

.study-buddy {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #99aab0; /* Text color */
    padding: 20px; /* Add some padding for better spacing */

    font-family: "Reenie Beanie", cursive;
    letter-spacing: 1px;
    font-size: 160%;
  }
    
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #b3c8cf; /* Set border color */
    border-radius: 4px;
    background-color: #fff; /* Input background color */
    color: #333; /* Input text color */
    font-size: 16px; /* Adjust font size */
    outline: none; /* Remove default outline */
  }
  
  .category-buttons {
    display: flex;
    justify-content: center; /* Center align buttons */
    flex-wrap: wrap;
    gap: 10px; /* Add gap between buttons */
  }
  
  .category-btn {
    background-color: #fff; /* Button background color */
    border: 1px solid #b3c8cf; /* Button border color */
    border-radius: 4px;
    padding: 15px 20px; /* Adjust padding */
    width: 150px; /* Adjust button width */
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* Button text color */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .category-btn:hover {
    background-color: #b3c8cf; /* Button background color on hover */
  }
  
  