/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #E8ECEF;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}

.study-buddy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 4.5%;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #99aab0;
    margin-bottom: 20px;
}

.category-buttons {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2%;
}

.category-btn {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px 40px; 
    color: #fff; 
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.category-btn:hover {
    background: rgba(255, 255, 255, 0.3); 
    transform: translateY(-5px); 
}

.category-btn:active {
    transform: translateY(2px);
}

.plus-icon {
    font-size: 2rem;
}

.new-section-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.new-section-input input {
    padding: 10px;
    border: 1px solid #b3c8cf;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
}

.new-section-input button {
    background-color: #3a77f7;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-section-input button:hover {
    background-color: #88b1b8;
}

.new-section-input button:active {
    transform: translateY(1px);
}

.loading, .error {
    font-size: 1.2rem;
    color: #333333;
    margin-top: 20px;
}

input::placeholder {
    color: #bfbfbf;
} */